<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title> TEST CSR GENERATOR</title>
    </head>
    <body>
        <div class="container-fluid">
        <h1>TEST CSR Generator</h1>
            <form action = "/confirm" method = "POST">
                <div class="form-group">
                    <label for="CommonName">CommonName:</label>
                    <input type = "text" name = "CommonName" id = "CommonName" class="form-control" placeholder="www.example.com" required>
                </div>
                <div class="form-group">
                    <label for="Country">Country:</label>
                    <input type ="text" name = "Country" id = "Country" class="form-control " placeholder="Country" maxlength="2" required>
                </div>
                <div class="form-group">
                    <label for="State">State:</label>
                    <input type ="text" name = "State" id = "State" class="form-control" placeholder="State" required>
                </div>
                <div class="form-group">
                    <label for="Locality">Locality:</label>
                    <input type ="text" name = "Locality" id = "Locality" class="form-control" placeholder="Locality" required>
                </div>
                <div class="form-group">
                    <label for="Organization">Organization:</label>
                    <input type ="text" name = "Organization" id = "Organization" class="form-control" placeholder="Organization" required>
                </div>
                <div class="form-group">
                    <label for="Organization_Unit">Organization Unit:</label>
                    <input type ="text" name = "OrganizationUnit" id = "Organization_Unit" class="form-control" placeholder="Organization Unit" required>
                </div>
                <input type = "submit" value = "Create" class="btn btn-primary btn-block">
            </form>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </div>
    </body>
</html>
